<form action="/admin/book_database" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="author">Author Name:</label>
  <input type="text" name="author" placeholder="Last, First">
  <label for="title">Book Title:</label>
  <input type="text" name="title" placeholder="The Great Gatsby">
  <button type="submit" name="add-book">Instansiate new Book</button>
</form>
